<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="/css/graph.css">
    <meta charset="UTF-8">
    <title>Graphic interference</title>
</head>
<body>
<div class="wrapper">
    <div class="function_block">
        <div>
            <div>
                <a class="a" th:href="@{/main}">Back</a>
            </div>
            <div th:object="${resultDto}">
                <a class="a" id="function" th:unless="${resultDto} == null" th:text="${resultDto.getFunction()}"></a>
            </div>
        </div>
        <form method="post"
              role="form"
              th:action="@{/interference}"
              th:object="${commonDto}">
            <div class="input_block_short">
                <label>
                    <a class="a">Write amplitude:</a>
                </label>
                <label>
                    <input type="text"
                           id="amplitude"
                           name="amplitude"
                           placeholder="Write your amplitude"
                           th:field="*{amplitude}"
                           required
                           pattern="-?\d+(\.\d+)?"
                           title="Please enter a valid double value."
                    />
                </label>
                <label>
                    <a class="a">Write wave length:</a>
                </label>
                <label>
                    <input type="text"
                           id="waveLength"
                           name="waveLength"
                           placeholder="Write your waveLength"
                           th:field="*{waveLength}"
                           required
                           pattern="-?\d+(\.\d+)?"
                           title="Please enter a valid double value."/>
                </label>
                <label>
                    <a class="a">Write phase difference:</a>
                </label>
                <label>
                    <input type="text"
                           id="step"
                           name="step"
                           placeholder="Write your phase difference"
                           th:field="*{phaseDifference}"
                           required
                           pattern="-?\d+(\.\d+)?"
                           title="Please enter a valid double value."/>
                </label>
            </div>
            <div class="button_block">
                <button type="submit" class="box">Send</button>
                <button type="submit" class="box">Get Table</button>
            </div>
        </form>
    </div>
    <div class="image_block" th:object="${resultDto}">
        <div th:unless="${resultDto == null}">
            <img id="image" th:src="@{|/interference/image/${resultDto.imageName}}" alt="Graph Image"/>
        </div>
    </div>
</div>
</body>
</html>